
html,
body {
  height: 100%;
}

body {
  background-image: url(img/spiderman.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

div,
body {
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
}

.caja {
    border: 5px solid thistle;
    background-color: cornflowerblue;
    padding: 0.2rem;
    margin-left: 10px;
    width: 150px;
    height: 150px;
}

.dados {
    width: 150px;
    height: 120px;

}
 .textDado{
    color: aquamarine;
    font-size: 15px;
    font-style: unset;
    text-align: center;
}
 
 .imgMapa{
  
    border: 5px solid gray;
    width: 300px;
    height: 450px;
 }
  .caja1 {
    border: 5px solid gray;
    background-color:thistle ;
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}
.textImagen {
    font-family:cursive;
    color: black;
    font-size: 17px;
    font-style: unset;
    text-align: center;
}
#btn1{
    font-size: 15px;
    border: 5px solid cornflowerblue;
    background-color:thistle ;
    margin: 5px;
}
#botonAgregar{
  font-size: 15px;
  background-color: cornflowerblue ;
  margin: 0.5rem;
}

#imgPer{
  width: 50px;
  height: 50px;
  position: relative;
  top: 230px;
  left: 120px;
}

.otroContenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .contenedorInterno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .instrucciones {
    width: 150px;
    height: 150px;
    color: white;
    margin: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
  
  }
  
  .reloj {
    float: left;
    font-size: 35px;
    font-family: Courier, sans-serif;
    color: yellowgreen;
  }

  #contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #contenedorJugadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: aliceblue;
    font-size: 13px;
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  #listado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 15px;
    color: azure;
  }