
 body{
    background-color:black;
}
.caja {
    border: 5px solid thistle;
    background-color: cornflowerblue;
    padding: 0.2rem;
    margin-left: 10px;
    width: 150px;
    height: 150px;
}

.dados {
    width: 150px;
    height: 120px;

}
 .textDado{
    color: aquamarine;
    font-size: 15px;
    font-style: unset;
    text-align: center;
}
 
 .imgMapa{
    border: 5px solid gray;
    width: 300px;
    height: 450px;
 }
  .caja1 {
    border: 5px solid gray;
    background-color:thistle ;
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}
.textImagen {
    font-family:cursive;
    color: black;
    font-size: 17px;
    font-style: unset;
    text-align: center;
}
#btn1{
    font-size: 15px;
    border: 5px solid cornflowerblue;
    background-color:thistle ;
    margin-left: 0.5rem;
}
#botonAgregar{
  font-size: 15px;
  background-color: cornflowerblue ;
  margin: 0.5rem;
}

#imgPer{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 990px;
  left: 270px;
}

.otroContenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .contenedorInterno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .instrucciones {
    color: white;
    font-size: 15px;
    font-family: cursive;
    margin: 5px;
  }
  
  .reloj {
    float: left;
    font-size: 35px;
    font-family: Courier, sans-serif;
    color: yellowgreen;
  }
  #contenedorJugadores{
    margin-left: 5px;
    color: aliceblue;
  }