
 body{
    background-color:gray;
}
.caja {
    border: 5px solid thistle;
    background-color: cornflowerblue;
    padding: 0.5rem;
    margin: 10px;
    width: 25vw;
    height: 20vh;
}

.dados {
    width: 15vw;
    height: 15vh;

}
 .textDado{
    color: aquamarine;
    font-size: 15px;
    font-style: unset;
    text-align: center;
}
 
 .imgMapa{
    border: 5px solid gray;
    width: 300px;
    height: 450px;
 }
  .caja1 {
    border: 5px solid gray;
    background-color:thistle ;
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}
.textImagen {
    font-family:cursive;
    color: black;
    font-size: 17px;
    font-style: unset;
    text-align: center;
}
#btn1{
    font-size: 20px;
    border: 5px solid cornflowerblue;
    background-color:thistle ;
    margin: 0.5rem;
}
#imgPer{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 450px;
  right: 280px;
}

.otroContenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .contenedorInterno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .instrucciones {
    font-size: 15px;
    font-family: cursive;
    margin: 10px;
  }
  
  .reloj {
    margin: 10px;
    float: left;
    font-size: 50px;
    font-family: Courier, sans-serif;
    color: #363431;
  }